
.xuv-contenthead{
    display: flex;
    font-size: small;
    font-weight: 700;
    height: auto;
    align-items: center;
    justify-content: center;
}
.xuv-dropdown{
    background-color:black;
    color: white;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.xuv-content{
   width: 100%;
  
 
}
.xuv-content ul{
    display: flex;
    list-style-type: none;   
    margin: 0px;
    align-items: center;
    justify-content: center;
}
.xuv-content ul li{
    margin-right: 45px;
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0.125em;
  }