.leftsection-features{
   display: flex;
   flex-direction: column;
   
  
    cursor: pointer;
    width: 100%;
}
.leftsection-features h5{
    display: flex;
    flex-direction: column;
    
}


a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: underline;
}

.leftsection-features a{
    padding: 20px;
}
